.Tei {
    overflow-y: scroll;
    max-height: 600px;
    direction: rtl;
}

.Tei tei-ab {
    display: block;
    padding-bottom: 16pt;
    font-size: 0;
    line-height: 16pt;
}

.Tei tei-w {
    font-size: 12pt;
    margin: 0 0.125em;
}

.Tei tei-label {
    font-weight: bold;
}

.Tosefta {

}

.Tosefta tei-ab {
    padding: 12pt;
    border: 1px solid black;
    border-radius: 12pt; 
}

.Simple {

}

.Ab {
    text-align: right;
    width: auto;
    cursor: pointer;
    text-decoration: underline;
    color: #722C25;
}