.Tei {
    overflow-y: scroll;
    max-height: 600px;
    direction: rtl;
}

.Tei tei-ab {
    display: block;
    padding-bottom: 16pt;
    font-size: 0;
    line-height: 14pt;
}

.Tei tei-ab > * {
    font-size: 12pt;
}

.Tei tei-w {
    margin: 0 0.125em;
    position: relative;
}

.Tei tei-label {
    font-weight: bold;
}

.AlignedText {

}

.AlignedText tei-ab {
    padding: 12pt;
    border: 1px solid black;
    border-radius: 12pt; 
}

.AlignedText tei-ab::after {
    font-size: 12px;
    content: '...';
    padding-right: 1ex;
}

.Simple {

}

.Ab {
    text-align: right;
    width: auto;
    cursor: pointer;
    text-decoration: underline;
    color: #722C25;
}