.Tei {
    overflow-y: scroll;
    max-height: 600px;
    direction: rtl;
}

.Tei tei-ab {
    display: block;
    margin-bottom: 1em;
}

.Tei tei-label {
    font-weight: bold;
}

.Tosefta {

}

.Tosefta tei-ab {
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em; 
}

.Simple {

}

.Ab {
    text-align: right;
    width: auto;
    cursor: pointer;
    text-decoration: underline;
    color: #722C25;
}